.body {
  width: 360px;
  height: 600px;
  background-color: rgba(5, 14, 142, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}




.back_button_icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.title_general {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: white;
  white-space: nowrap; 
  z-index: 2;
}
.back_button:active {
  transform: scale(0.95);
}
.back_button{
  position: absolute;
  top:5%;
  left: 5%;
}
.icon_back_to_menu{
  width: 50px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.title {
  font-size: 15px;
  color: white;
  margin-top: 30px;
  font-weight: 500;

}
.qr_code_container {
  display: flex;
  justify-content: center;
  background-color: rgba(3, 10, 65, 1);
  align-items: center;
  margin-top: 20px;
}
.qr_code {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.address_text{
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 70%;
  right: 42%;
  font-weight: 800;  

}

