.body {
    width: 360px;
    background-color: rgba(3, 10, 65, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 538px;
}
.title{
    text-align: center;
    justify-content: center;
    position: absolute;
    top:50%;
    left:20%;
}

.general_title_row {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px; 
  height: 25px; 
}

.back_button {
  position: absolute;
  top: -220px;
  flex-shrink: 0;
  z-index: 1; 
}

.back_button_icon {
  width: 25px;
  height: 25px;
}