.body {
  width: 360px;
  height: 600px;
  background-color: rgba(3, 10, 65, 1);
  display: flex;
  flex-direction: column;

  position: relative;
}
.title{
    text-align: center;
    justify-content: center;
    position: absolute;
    top:50%;
    left:20%;
}
.menu_div{
  position: absolute;
  right: 10%;
  top: 4%;
}
.menu_icon{
  width: 30px;
  height: 30px;
}
.line_div{
  padding: 0px;
  margin: 0px;
}
.line {
  width: 360px;
  height: 1px;
  background-color: rgba(230, 227, 248, 0.6);
  border: none;
  margin: 0px ;
  padding: 0px;
  position: absolute;
  left: 0%;
  top: 12%
}
.general_title_row {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 100px;
  padding-left: 20px; 
  height: 25px; 
}

.back_button {
  margin-right: 10px;
  flex-shrink: 0;
  z-index: 1; 
}

.back_button_icon {
  width: 25px;
  height: 25px;
}