.body {
  width: 360px;
  height: 600px;
  background-color: rgba(3, 10, 65, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.header {
  position: absolute;
  right: 10%;
  top: 4%;
}
.title {
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin-top: 50px;
}
.back_button {
  position: absolute;
  top: 15%;
  left: 88%;
}
.warning {
  width: 280px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.warning_text {
  font-size: 14px;
}