.body {
  width: 360px;
  height: 600px;
  background-color: rgba(3, 10, 65, 1);
  display: flex;
  flex-direction: column;

  position: relative;
}
.back_div{
    margin-top: 5%;
    margin-left: 5%;
}
.back_button {
  margin-right: 10px;
  flex-shrink: 0;
  z-index: 1; 
}

.back_button_icon {
  width: 25px;
  height: 25px;
}

.title_step{
    color:rgb(137, 134, 151);
    font-weight: 400;
    size:12px;
}

.title_div{
    margin-top: 5%;
    margin-left: 4%;


}

.title_create{
    color:white;
    font-weight: 600;
    font-size:22px;
}

.title_create_div{
    margin-top: 5%;
    margin-left: 5%;


}
.input_div{
    margin-top: 5%;
    margin-left: 6%;
}
.title_unlocks{
    color:rgb(137, 134, 151);
    font-weight: 400;
    size:11px;
}
.title_unlocks_div{
    margin-top: 4%;
    margin-left: 5%;
}

.title_password_div{
    margin-top: 9%;
    margin-left: 6%;
}
.title_password_div2{
    margin-top: 9%;
    margin-left: 5%;
}
.check_div{

}
.check_button_div{
    margin-top: 5%;
    margin-left: 5%;
}
.title_forget{
    font-size: 12px;
    font-weight: 400;
}
.title_forget_div{
    margin-left: 15%;
    margin-top: -6%;
}
.create_button{
    display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 45px;
  position: absolute;
  top: 470px;
  left: 30px;
  border-radius: 15px;
  background-color: rgba(13, 27, 224, 0.5);
  size:15px;
  border-color: rgba(13, 27, 224, 0.5);
}