.body{
  top: 0;
  left: 0;
  display: 'flex'; 
  justify-content: 'center'; 
  align-items: 'center'; 
  height: '600px';
  width: '320px';
  background-color: 'rgba(3, 10, 65, 1)';
  color: 'white';
  font-family: 'Arial, sans-serif';
}