.body {
  width: 360px;
  height: 600px;
  background-color: rgba(3, 10, 65, 1);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.balance{
    position: absolute;
    top:50%
}
.buttons_row {
  display: flex;
  justify-content: center; /* розміщує по центру */
  align-items: center;
  gap: 50px; /* відстань між кнопками */
  position: absolute;
  bottom: 58%;
  width: 100%;
}

.button_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.icon_wrapper {
  background-color: rgba(5, 14, 142, 0.4);
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_wrapper img {
  width: 28px;
  height: 28px;
}

.button_title {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}


.market_icon{
  width: 30px;
  height: 30px;
}
.market_div{
  position: absolute;
  left: 10%;
  top: 4%;
}